/* Change for different font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Keep to use global classes listed below as tailwind keywords */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url(../public/images/Laptop\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 33.3%;


  /* commenting this out to try my stuff */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-starst-rgb)); */
}

/*for mobile...? */
@media (max-width <= 600) {
  body {
    background-image: url(../public/images/iPhone\ background.png);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add global classes here. Can use as tailwind keywords (aka className="example-class mt-5 blue") */
.example-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
